[submodule "pkg/http"]
	path = pkg/http
	url = https://github.com/laytan/odin-http
[submodule "pkg/mysql"]
	path = pkg/mysql
	url = https://github.com/laytan/odin-mysql
[submodule "pkg/snowflake"]
	path = pkg/snowflake
	url = https://github.com/laytan/odin-snowflake
